<nav id="main-nav">
    <ul>
        <li><a href="/" title="Home page">Home</a></li>
        <li><a href="/inv/type/Custom" title="View custom vehicles">Custom</a></li>
        <li><a href="/inv/type/Sedan" title="View sedan vehicles">Sedan</a></li>
        <li><a href="/inv/type/SUV" title="View SUV vehicles">SUV</a></li>
        <li><a href="/inv/type/Truck" title="View truck vehicles">Truck</a></li>
    </ul>
</nav>
