<h1><%= title %></h1>
<%- messages() %>
<p>Welcome to the vehicle management area.</p>
<ul class="management-links">
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
</ul>
